@model PreferencesViewModel

<div class="row" id="row1">

    <!--<a class="waves-effect waves-light btn modal-trigger" style="position: fixed; right: 20px; bottom: 10px" href="#modal1">Lista miejsc</a>

    <!-- Modal Structure -->
            

    <div class="col s3" style="box-shadow: 0px 0px 2px #888888;">
        <form asp-controller="TripMap" asp-action="#" method="post" role="form" onsubmit="return false;">
            <br /> <!-- Prowizorka -->
            <div class="input-field col s12">
                <i class="material-icons prefix">room</i>
                <input asp-for="City" id="city_poc" type="text">
                <label asp-for="City" for="city_poc"></label>
            </div>
            @*<div class="col s12">
                <i class="tiny material-icons prefix">today</i>
                <label asp-for="BeginTrip" for="start_date"></label>
                <input asp-for="BeginTrip" type="date" id="start_date" class="datepicker">
                <br />
                <i class="tiny material-icons prefix">today</i>
                <label asp-for="EndTrip" for="end_date"></label>
                <input asp-for="EndTrip" type="date" id="end_date" class="datepicker">
            </div>*@
            <!--tabsy-->
            <ul class="tabs">
                <li class="tab col s1"><a href="#preferencje">Preferencje</a></li>
                <li class="tab col s1"><a href="#placesCards">Lista miejsc</a></li>
            </ul>
            <!--tabsy-->
            <div id="preferencje" class="col s12">
                <ul class="collection with-header">
                    <li class="collection-header" style="font-size: small; color: #0d47a1;">Zwiedzanie</li>
                    <li class="collection-item">
                            <input value="true" class="filled-in" asp-checkbox-for="Monuments" />
                        <br />
                        <input value="true" class="filled-in" asp-checkbox-for="Museum" />

                    </li>    
                </ul>
                <ul class="collection with-header">
                    <li class="collection-header" style="font-size: small; color: #0d47a1;">Rozrywka</li>
                    <li class="collection-item">
                        <input value="true" class="filled-in" asp-checkbox-for="Club" />
                        <br />
                        <input value="true" class="filled-in" asp-checkbox-for="Cinema" />
                    </li>
                </ul>
                <ul class="collection with-header">
                    <li class="collection-header" style="font-size: small; color: #0d47a1;">Inne</li>
                    <li class="collection-item">
                        <input value="true" class="filled-in" asp-checkbox-for="Food" />
                    </li>
                </ul>
                <div class="col s12">
                    <p id="savingButton" style="visibility: hidden">
                        <a class="waves-effect waves-light btn" onclick="app.saveTrip()">
                            <i class="material-icons right">play_for_work</i>Zapisz
                        </a>
                    </p>
                </div>
            </div>
            <div id="placesCards" class="col s12" style="height: 440px; overflow: auto;">
            </div>

        </form>
        @*<div class="col s2">
            <button class="waves-effect waves-light btn" onclick="generateTripRoute();">Generuj trasę</button>
        </div>*@
    </div>
    <div class="col s9">
        <div id="map" style="min-height: 500px; height: 90vh;"></div>
    </div>
</div>  

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.22&libraries=places,maps"></script>
    <script src="~/js/MarkerFactory.js"></script>
    <script src="~/js/ButtonFactory.js"></script>
    <script src="~/js/Trip.js"></script>
    <script src="~/js/Services.js"></script>
    <script src="~/js/App.js"></script>
    <script>
        var app = null;

        // -----

        /*
        Main loading
        */
        google.maps.event.addDomListener(window, 'load', function () {
            app = new App();
        });


        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2, // Creates a dropdown of 15 years to control year
            monthsFull: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
            monthsShort: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
            weekdaysFull: ['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'],
            weekdaysShort: ['Niedz.', 'Pon.', 'Wt.', 'Śr', 'Czw.', 'Pt.', 'Sob.'],
            today: 'Dziś',
            clear: 'Wyczyść',
            close: 'Zamknij',
            labelMonthNext: 'Następny miesiąc',
            labelMonthPrev: 'Poprzedni miesiąc',
            labelMonthSelect: 'Wybierz miesiąc',
            labelYearSelect: 'Wybierz rok',
        });

    </script>
}