@model PreferencesViewModel

<div class="row" id="row1">

    <!--<a class="waves-effect waves-light btn modal-trigger" style="position: fixed; right: 20px; bottom: 10px" href="#modal1">Lista miejsc</a>

    <!-- Modal Structure -->
            

    <div class="col s3" style="box-shadow: 0px 0px 2px #888888; height:90vh;">
        <form asp-controller="TripMap" asp-action="#" method="post" role="form" onsubmit="return false;">
            <br /> <!-- Prowizorka -->
            <div class="input-field col s12">
                <i class="material-icons prefix">room</i>
                <input asp-for="City" id="city_poc" type="text" placeholder="">
                <label asp-for="City" for="city_poc"></label>
            </div>
            @*<div class="col s12">
                <i class="tiny material-icons prefix">today</i>
                <label asp-for="BeginTrip" for="start_date"></label>
                <input asp-for="BeginTrip" type="date" id="start_date" class="datepicker">
                <br />
                <i class="tiny material-icons prefix">today</i>
                <label asp-for="EndTrip" for="end_date"></label>
                <input asp-for="EndTrip" type="date" id="end_date" class="datepicker">
            </div>*@
            <!--tabsy-->
            <ul class="tabs">
                <li class="tab col s1"><a style="color: #d50000; font-size: small;" onclick="app.preferences.hidePlaces()" href="#preferencje">Preferencje</a></li>
                <li class="tab col s1"><a style="color: #d50000; font-size: small;" href="#placesCards">Lista miejsc</a></li>
                <li class="tab col s1"><a style="color: #d50000; font-size: small;" href="#tripRoute">Trasa</a></li>

                <div class="indicator  red accent-4" style="z-index:1"></div>
            </ul>
            <!--tabsy-->
            <div id="preferencje" class="col s12">
                <ul class="collection with-header">
                    <li class="collection-header" style="font-size: small; color: #0d47a1;">Zwiedzanie</li>
                    <li class="collection-item">
                        <div onclick="app.preferences.notify('Monuments')" class="chip" style="margin-bottom: 10px; cursor:pointer;">
                            <img src="~/icons/ic_location_city_black_24dp_1x.png" alt="" style="height:20px; width:20px; margin-left:0px; margin-top:5px;">
                            <a id="Monuments">
                                Zabytki
                            </a>
                        </div>
                        <br />
                        
                        <div onclick="app.preferences.notify('Museum')" class="chip" style="cursor:pointer;">
                            <img src="~/icons/ic_account_balance_black_24dp_1x.png" alt="" style="height:20px; width:20px; margin-left:0px; margin-top:5px;">
                            <a id="Museum">
                                Muzea
                            </a>
                        </div>
                        <br />

                        @*<a onclick="app.preferences.notify('Monuments')"class="btn-floating btn-small waves-effect waves-light blue darken-1 z-depth-0" id="Monuments">
                            <i class="material-icons">add</i></a><label style="font-size: medium;"> Zabytki</label>
                        <br />
                        <a onclick="app.preferences.notify('Museum')" class="btn-floating btn-small waves-effect waves-light blue darken-1 z-depth-0" id="Museum">
                            <i class="material-icons">add</i>
                        </a><label style="font-size: medium;"> Muzea</label>*@
                    </li>    
                </ul>
                <ul class="collection with-header">
                    <li class="collection-header" style="font-size: small; color: #0d47a1;">Rozrywka</li>
                    <li class="collection-item">
                        @*<a onclick="app.preferences.notify('Club')" class="btn-floating btn-small waves-effect waves-light blue darken-1 z-depth-0" id="Club">
                            <i class="material-icons">add</i>
                        </a><label style="font-size: medium;"> Kluby</label>*@

                        <div class="chip" onclick="app.preferences.notify('Club')" style="margin-bottom: 10px; cursor:pointer;">
                            <img src="~/icons/ic_audiotrack_black_24dp_1x.png" alt="" style="height:20px; width:20px; margin-left:0px; margin-top:5px;">
                            <a  id="Club">
                                Kluby
                            </a>
                        </div>
                        <br />

                        <div onclick="app.preferences.notify('Cinema')" class="chip" style="margin-bottom: 10px; cursor:pointer;">
                            <img src="~/icons/ic_movie_filter_black_24dp_1x.png" alt="" style="height:20px; width:20px; margin-left:0px; margin-top:5px;">
                            <a id="Cinema">
                                Kino
                            </a>
                        </div>

                        @*<a onclick="app.preferences.notify('Cinema')" class="btn-floating btn-small waves-effect waves-light blue darken-1 z-depth-0" id="Cinema">
                            <i class="material-icons">add</i>
                        </a><label style="font-size: medium;"> Kino</label>*@
                    </li>
                </ul>

                

                <ul class="collection with-header">                   
                  <li class="collection-header" style="font-size: small; color: #0d47a1;">Inne</li>
                    <li class="collection-item">

                        @*<a onclick="app.preferences.notify('Food')" class="btn-floating btn-small waves-effect waves-light blue darken-1 z-depth-0" id="Food">
                            <i class="material-icons">add</i>
                        </a><label style="font-size: medium;"> Restauracje</label>*@

                        <div onclick="app.preferences.notify('Food')" class="chip" style="margin-bottom: 10px; cursor:pointer;">
                            <img src="~/icons/ic_local_dining_black_24dp_1x.png" alt="" style="height:20px; width:20px; margin-left:0px; margin-top:5px;">
                            <a id="Food">
                                Restauracje
                            </a>
                        </div>
                    </li>

                </ul>
                <div class="col s12">
                    <p id="savingButton" style="visibility: hidden">
                        <a class="waves-effect waves-light btn  green darken-2" onclick="app.trip.save(app.services.autocomplete.getPlace())">
                            <i class="material-icons right">play_for_work</i>Zapisz</a>
                    </p>
                </div>
            </div>
            <div id="placesCards" class="col s12" style="height: 75vh; overflow: auto;">
            </div>
            <div id="tripRoute" class="col s12" style="height: 75vh; overflow: auto;">
            </div>

        </form>
        @*<div class="col s2">
            <button class="waves-effect waves-light btn" onclick="generateTripRoute();">Generuj trasę</button>
        </div>*@
    </div>
    <div class="col s9">
        <div id="map" style="height: 90vh;"></div>
    </div>
</div>  

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.22&libraries=places,maps"></script>
    <script src="~/js/MarkerFactory.js"></script>
    <script src="~/js/ButtonFactory.js"></script>
    <script src="~/js/CardFactory.js"></script>
    <script src="~/js/Trip.js"></script>
    <script src="~/js/Preferences.js"></script>
    <script src="~/js/Services.js"></script>
    <script src="~/js/App.js"></script>
    <script>
        var app = null;

        // -----

        function getUrlParameter(param) {
            var pageURL = decodeURIComponent(window.location.search.substring(1)),
                URLVariables = pageURL.split('&'),
                parameterName, i;

            for (i = 0; i < URLVariables.length; i++) {
                parameterName = URLVariables[i].split('=');
                if (parameterName[0] === param) {
                    return parameterName[1] === undefined ? true : parameterName[1];
                }
            }
        };


        /*
        Main loading
        */
        google.maps.event.addDomListener(window, 'load', function () {
            // jesli jest jakis get to pobierz z serwera sciezke i wyswietl
            var id = getUrlParameter('id');
            app = new App(id);
        });


        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2, // Creates a dropdown of 15 years to control year
            monthsFull: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
            monthsShort: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
            weekdaysFull: ['Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'],
            weekdaysShort: ['Niedz.', 'Pon.', 'Wt.', 'Śr', 'Czw.', 'Pt.', 'Sob.'],
            today: 'Dziś',
            clear: 'Wyczyść',
            close: 'Zamknij',
            labelMonthNext: 'Następny miesiąc',
            labelMonthPrev: 'Poprzedni miesiąc',
            labelMonthSelect: 'Wybierz miesiąc',
            labelYearSelect: 'Wybierz rok',
        });

    </script>
}