@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <ul class="right hide-on-med-and-down">
        <li><a asp-controller="SavedTrips" asp-action="SavedTrips" title="Manage" class="white-text btn blue-grey darken-4" style="margin-left:5px; margin-right:5px">Hello @User.GetUserName()!</a></li>
        <li><form asp-controller="Account" asp-action="LogOff" method="post"><button type="submit" class="white-text btn blue-grey darken-4" style="margin-left:5px; margin-right:5px">Wyloguj</button></form></li>
    </ul>
    
    <ul id="nav-mobile" class="side-nav">
        <li><a asp-controller="SavedTrips" asp-action="SavedTrips" title="Manage">Hello @User.GetUserName()!</a></li>
        <li><form asp-controller="Account" asp-action="LogOff" method="post"><button type="submit" class="btn-flat">Wyloguj</button></form></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
}
else
{
    <ul class="right hide-on-med-and-down">
        <li><a asp-controller="Account" asp-action="Register" class="white-text btn blue-grey darken-4" style="margin-left:5px; margin-right:5px">Zarejestruj</a></li>
        <li><a asp-controller="Account" asp-action="Login" class="white-text btn blue-grey darken-4" style="margin-left:5px; margin-right:5px">Zaloguj</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
        <li><a asp-controller="Account" asp-action="Register">Zarejestruj</a></li>
        <li><a asp-controller="Account" asp-action="Login">Zaloguj</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
}
