@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Wycieczki";
}


<body>
    <div class="container">
        <div>
            <h2>Zapisane wycieczki</h2>

            <p>Zarządzaj swoimi wycieczkami</p>
        </div>
        
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/1086986_555946194497229_720309508_q.jpg" alt="" class="circle">
                <span class="title">Wycieczka 1</span>
                <p>
                    Opis <br>
                    ...
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons medium">send</i></a>
            </li>
            <li class="collection-item avatar">
                <img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/1086986_555946194497229_720309508_q.jpg" alt="" class="circle">
                <span class="title">Wycieczka 2</span>
                <p>
                    Opis <br>
                    ...
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons medium">send</i></a>
            </li>
            <li class="collection-item avatar">
                <img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/1086986_555946194497229_720309508_q.jpg" alt="" class="circle">
                <span class="title">Wycieczka 3</span>
                <p>
                    Opis <br>
                    ...
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons medium">send</i></a>
            </li>
            <li class="collection-item avatar">
                <img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/1086986_555946194497229_720309508_q.jpg" alt="" class="circle">
                <span class="title">Wycieczka 4</span>
                <p>
                    Opis <br>
                    ...
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons medium">send</i></a>
            </li>
        </ul>

    </div>
</body>
