@model IEnumerable<TripData>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Wycieczki";
}


<body>
    <div class="container">
        <div>
            <h2>Zapisane wycieczki</h2>

            <p>Zarządzaj swoimi wycieczkami</p>
        </div>
        
        <ul class="collection">
            @foreach (var tripData in Model)
            {
                <li class="collection-item avatar">
                    <img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/1086986_555946194497229_720309508_q.jpg" alt="" class="circle">
                    <span class="title">@tripData.City</span>
                    <p>
                        @*@tripData.Description*@
                    </p>
                    @*<a asp-controller="TripMap" asp-action="TripMap" asp></a>*@
                    @*<a href="TripMap/TripMap/" + @tripData.TripDataID class="secondary-content"><i class="material-icons medium">send</i></a>*@
                    @Html.Raw("<a href=\"/TripMap/TripMap/?id=" + tripData.TripDataID + "\"><i class=\"material-icons medium\">send</i></a>");
                </li>
            }
        </ul>

    </div>
</body>
